<template name="administradoresFacturas">
<div class="col-md-12">
<form class="navbar-form navbar-left " role="search">
 {{> esInput class="buscar" index="users" placeholder="Buscar..." }}
 <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
</form>
</div>

<div class="col-md-6">

<table class="table table-striped table-hover">
  <thead>
    <tr>
     <th>Nombre</th>
     <th>Direccion</th>
     <th>Email</th>
     <th>Telefono</th>
    </tr>
  </thead>
  <tbody class="defaulttable">
    {{#each users}}
    <tr> 
      <td>{{profile.nombre}} {{profile.apellido}}</td>
      <td>{{profile.direccion}}</td>
      <td>{{emails.[0].address}}</td>
      <td>{{profile.telefono}}</td>
      <td><button type="button" class="btn btn-primary btn-lg filtrar " data-toggle="modal" data-target="#myModal" data-id="{{_id}}">Ver Servicion/Proyectos</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Facturas</h4>
      </div>
      <div class="modal-body">
       <table class="table table-striped table-hover">
       <thead>
         <tr>
           <th>Nombre</th>
           <th>Diescripcion</th>
         </tr>
       </thead>
       <tbody class="defaulttable">
         {{#each proyectos}}
        <tr> 
       <td>{{nombre}}</td>
       <td>{{descripcion}}</td>
       <td><button class="btn btn-default agregar" data-name="{{nombre}}" data-id="{{_id}}" data-dismiss="modal">Agregar</button></td>
        </tr>
           {{/each}}
       </tbody>
      </table>

  </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</template>