<template name="clienteHome">
<div class="row">
  <div class="col-md-8">
  	<div class="row">
  		<div class="col-md-6">
  			<div class="panel panel-default">
  				<div class="panel-heading">Estado proyecto</div>
  				<div class="panel-body">
            <div>Nombre</div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  60%
                </div>
              </div> 
              <div>Nombre</div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                  30%
                </div>
              </div> 
  				</div>
			</div>
		</div>
 		<div class="col-md-6">
			<div class="panel panel-default">
  				<div class="panel-heading">Estado Servicios</div>
  				<div class="panel-body">
             <div>Nombre</div>
             <span class="label label-success">5 meses</span>
             <div>Nombre</div>
             <span class="label label-danger">1 meses</span>
  				</div>
			</div>
 		</div>
 		<div class="col-md-6">
  			<div class="panel panel-default">
  				<div class="panel-heading">Avisos</div>
  				<div class="panel-body">Panel content</div>
			</div>
		</div>
 		<div class="col-md-6">
			<div class="panel panel-default">
  				<div class="panel-heading">¡¡¡¡¡</div>
  				<div class="panel-body">Panel content
  				</div>
			</div>
 		</div>
	</div>
	</div>
  <div class="col-md-4 ">Noticias</div>
</div>
</template>