<template name="clientePagos">

<table class="table table-striped table-hover">
<thead>
         <tr>
           <th>Fecha</th>
           <th>Servicio/Proyecto</th>
           <th>Importe</th>
         </tr>
</thead>
    <tbody class="defaulttable consulta">
       {{#each consultas}}
        <tr> 
       <td>{{feche}}</td>
       <td>{{serpro}}</td>
       <td>{{importe}}</td>
       <td> <button type="button" class="btn btn-default responder" data-id="{{_id}}">Ver Factura</button></td>
        </tr>
       {{/each}}
    </tbody>
    </table>
</template>